.bussager-logo {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px;

  img {
    height: 50px;
    width: 50px;
    object-fit: contain;
  }

  h1 {
    right: 0px;
    margin-left: 16px;
    font-size: 24px;
  }
}
