@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/RTRondelle-Regular.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/AkzidenzGroteskPro-Regular.otf);
}

$font-1: "font-1", serif;
$font-2: "font-2", serif;

$white: #ffffff;
$black: #1c1c1c;
$black2: #252525;
$grey: #7e7e7e;
$purple: #6d22ff;

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;

  &::selection {
    color: $black;
    background: $white;
  }
}

body {
  color: $white;
  font-family: $font-1;
}

.screen {
  background: rgb(31, 19, 74);
  background: linear-gradient(
    90deg,
    rgba(31, 19, 74, 1) 0%,
    rgba(20, 30, 48, 1) 100%
  );
  // border: black 1px solid;
  height: 100vh;
  width: 100vw;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  height: 50px;
  width: 100%;
  background-color: rebeccapurple;
}

.input {
  width: 100%;
}
h1 {
  font-size: 100px;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 30px;
  font-weight: 900;
}

p {
  font-size: 20px;
  font-weight: 300;
}

.privateHome {
  display: flex;
  background-color: $black;

  .SectionUsersSearch {
    height: 100vh;
    width: 30%;
    border-right: 2px #2d2d2d solid;
  }

  .SectionChat {
    height: 100vh;
    width: 50%;
  }

  .SectionInfo {
    height: 100vh;
    width: 20%;
    border-left: 2px #2d2d2d solid;
  }
}
